[package]
name = "polars-reverse-geocode"
version = "0.5.0"
edition = "2021"

[lib]
name = "polars_reverse_geocode"
crate-type= ["cdylib"]

[dependencies]
pyo3 = { version = "0.22.2", features = ["extension-module", "abi3-py38"] }
pyo3-polars = { version = "0.16.0", features = ["derive"] }
serde = { version = "1", features = ["derive"] }
polars = { version = "0.42.0", default-features = false }
polars-arrow = { version = "0.42.0", default-features = false }
reverse_geocoder = "4.1.1"

